@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <div class="col-lg mb-1">

        <div class="text-center"><h1 class="h2 mb-4 text-gray-800">About this Project</h1></div>
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-1 mb-3" style="width: 45rem;"
                         src="~/Content/customimages/github-project-management.jpeg" alt="...">
                </div>
                <p class="text-lg-center">
                    This is a simple project to demonstrate Git Version Controlling as well as Project Managment through developing a simple Web Application.
                </p>
                <p class="text-lg-center">You can find all the additional details regarding the project in GitHub repository README file.</p>
                <img class="img-fluid px-3 px-sm-4 mt-1 mb-3 mx-auto d-block" src="~/Content/customimages/GitHub-Mark-64px.png" alt="...">
                <p class="text-center"><a href="https://github.com/NSBM-SPM-2021/github-basics-uldindrajith" target="_blank" class="btn btn-primary btn-lg">GitHub Repository Link</a></p>
            </div>
        </div>
    </div>
</div>